<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="connect" connectionString="Data Source=172.16.10.44;Initial Catalog=VIVAIMR;User ID=sa;pwd=passwd@12"/>
		<!--<add name="connect" connectionString="Data Source=172.16.10.42;Initial Catalog=IMR;User ID=sa;pwd=passwd@12" />-->
		<!--<add name="connect" connectionString="Data Source=183.87.70.10;Initial Catalog=Lms_Erp_Djunior; User ID=sa; pwd=passwd@12;" />-->
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Register.aspx"/>
        <!--<add value="Login.aspx"/>-->
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
